<a href="https://colab.research.google.com/github/skmerick/Bicicles_SB/blob/main/notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ANÁLISE EXPLORATORIA DOS DADOS

In [224]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Instalação do pyspark**

In [225]:
!pip install pyspark py4j

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j in /usr/local/lib/python3.7/dist-packages (0.10.9.3)

**Importação de bibliotecas**

In [226]:
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql import Row
from pyspark.sql.types import *
import pandas as pd

In [227]:
spark = SparkSession.builder.master("local[*]").getOrCreate()

##**Acessando as bases**

In [228]:
pasta_raiz = '/content/drive/MyDrive/datasets/Smarttbot'

**Vendas Ofertas especiais - Sales Special Offer Product**

In [229]:
schema = StructType([
                     StructField("SpecialOfferID", StringType(), True),
                     StructField("ProductID", IntegerType(), False),
                     StructField("rowguid", StringType(), False),
                     StructField("ModifiedDate", TimestampType(), True),
])


df_special_offer = spark.read.csv(f'{pasta_raiz}/Sales_SpecialOfferProduct.csv', sep=';', header=True, schema=schema)

df_special_offer.show()

+--------------+---------+--------------------+-------------------+
|SpecialOfferID|ProductID|             rowguid|       ModifiedDate|
+--------------+---------+--------------------+-------------------+
|             1|      680|BB30B868-D86C-455...|2011-04-01 00:00:00|
|             1|      706|B3C9A4B1-2AE6-4CB...|2011-04-01 00:00:00|
|             1|      707|27B711FE-0B77-4EA...|2011-04-01 00:00:00|
|             1|      708|46CBB78B-246E-4D6...|2011-04-01 00:00:00|
|             1|      709|CF102AA0-055F-4D2...|2011-04-01 00:00:00|
|             1|      710|63718DA1-464B-432...|2011-04-01 00:00:00|
|             1|      711|457EB971-D1C9-48C...|2011-04-01 00:00:00|
|             1|      712|5B948448-BAE5-4F2...|2011-04-01 00:00:00|
|             1|      713|07768F40-6E46-430...|2011-04-01 00:00:00|
|             1|      714|85004BCE-C74A-4D4...|2011-04-01 00:00:00|
|             1|      715|BE469616-B279-452...|2011-04-01 00:00:00|
|             1|      716|96D141FD-1D8E-431...|2011-04-01 00:00:00|
|             1|      717|F717C3DC-3DBF-4F4...|2011-04-01 00:00:00|
|             1|      718|B4634789-ACBB-470...|2011-04-01 00:00:00|
|             1|      719|B0F55004-472E-4C6...|2011-04-01 00:00:00|
|             1|      720|691B64BD-C417-478...|2011-04-01 00:00:00|
|             1|      721|0FE22357-94A1-408...|2011-04-01 00:00:00|
|             1|      722|87AF8A2A-02B8-465...|2011-04-01 00:00:00|
|             1|      723|6A155B5E-7E94-4A7...|2011-04-01 00:00:00|
|             1|      724|EBFBD8D4-3067-4D2...|2011-04-01 00:00:00|
+--------------+---------+--------------------+-------------------+
only showing top 20 rows

In [230]:
df_special_offer.printSchema()

root
 |-- SpecialOfferID: string (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)

In [231]:
#Quantidade de linhas e colunas

def sparkShape(dataframe):
    return(dataframe.count(), len(dataframe.columns))

sparkShape(df_special_offer)

(538, 4)

In [232]:
#Detalhes estatisticos gerais
df_special_offer.describe().show()

+-------+------------------+-----------------+--------------------+
|summary|    SpecialOfferID|        ProductID|             rowguid|
+-------+------------------+-----------------+--------------------+
|  count|               538|              538|                 538|
|   mean|2.7118959107806693|849.4702602230483|                null|
| stddev| 3.478142408113732|86.58989606682316|                null|
|    min|                 1|              680|0020931C-087C-42F...|
|    max|                 9|              999|FFE24AE4-9E46-433...|
+-------+------------------+-----------------+--------------------+

In [233]:
#Quantidade de produtos unicos
df_special_offer.select(countDistinct("productid")).show()

+-------------------------+
|count(DISTINCT productid)|
+-------------------------+
|                      295|
+-------------------------+

In [234]:
df_special_offer.select('specialofferid').groupby('specialofferid').count().show()

+--------------+-----+
|specialofferid|count|
+--------------+-----+
|             7|    8|
|            15|    7|
|            11|    3|
|             3|   55|
|             8|    3|
|            16|    7|
|             5|    2|
|             9|    1|
|             1|  295|
|            10|    3|
|             4|   17|
|            12|   12|
|            13|   10|
|            14|    4|
|             2|  111|
+--------------+-----+

In [235]:
df_special_offer.select('modifieddate').groupby('modifieddate').count().show()

+-------------------+-----+
|       modifieddate|count|
+-------------------+-----+
|2012-04-30 00:00:00|    4|
|2013-04-30 00:00:00|   29|
|2011-04-01 00:00:00|  295|
|2014-03-01 00:00:00|    7|
|2013-06-14 00:00:00|    7|
|2012-03-14 00:00:00|    8|
|2011-05-01 00:00:00|  185|
|2013-04-14 00:00:00|    3|
+-------------------+-----+

**Produtos Produção - Production Product**

In [236]:
schema = StructType([
                     StructField("ProductId", StringType(), False),
                     StructField("Name", StringType(), False),
                     StructField("ProductNumber", StringType(), False),
                     StructField("MakeFlag", IntegerType(), True),
                     StructField("FinishedGoodsFlag", IntegerType(), True),
                     StructField("Color", StringType(), True),
                     StructField("SafetyStockLevel", IntegerType(), True),
                     StructField("ReorderPoint", IntegerType(), True),
                     StructField("StandardCost", StringType(), True),
                     StructField("ListPrice", StringType(), True),
                     StructField("size", StringType(), True),
                     StructField("SizeUnitMeasureCode", StringType(), True),
                     StructField("WeightUnitMeasureCode", StringType(), True),
                     StructField("Weight", StringType(), True),
                     StructField("DaysToManufacture", IntegerType(), True),
                     StructField("ProductLine", StringType(), True),
                     StructField("Class", StringType(), True),
                     StructField("Style", StringType(), True),
                     StructField("ProductSubcategoryID", StringType(), True),
                     StructField("ProductModelID", StringType(), True),
                     StructField("SellStartDate", TimestampType(), True),
                     StructField("SellEndDate", TimestampType(), True),
                     StructField("DiscontinuedDate", TimestampType(), False),
                     StructField("rowguid", StringType(), True),
                     StructField("ModifiedDate", TimestampType(), True),
])
df_product = spark.read.csv(f'{pasta_raiz}/Production_Product.csv', sep=';', header=True, schema=schema)

df_product = df_product.withColumn('StandardCost', regexp_replace('StandardCost', ',', '.').cast('float'))
df_product = df_product.withColumn('ListPrice', regexp_replace('ListPrice', ',', '.').cast('float'))

df_product.show()

+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
|ProductId|                Name|ProductNumber|MakeFlag|FinishedGoodsFlag| Color|SafetyStockLevel|ReorderPoint|StandardCost|ListPrice|size|SizeUnitMeasureCode|WeightUnitMeasureCode|Weight|DaysToManufacture|ProductLine|Class|Style|ProductSubcategoryID|ProductModelID|      SellStartDate|SellEndDate|DiscontinuedDate|             rowguid|        ModifiedDate|
+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
|        1|     Adjustable Race|      AR-5381|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       null|            null|694215B7-08F7-4C0...|2014-02-08 10:01:...|
|        2|        Bearing Ball|      BA-8327|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       null|            null|58AE3C20-4F3A-474...|2014-02-08 10:01:...|
|        3|     BB Ball Bearing|      BE-2349|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       null|            null|9C21AED2-5BFA-4F1...|2014-02-08 10:01:...|
|        4|Headset Ball Bear...|      BE-2908|       0|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       null|            null|ECFED6CB-51FF-49B...|2014-02-08 10:01:...|
|      316|               Blade|      BL-2036|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       null|            null|E73E9750-603B-413...|2014-02-08 10:01:...|
|      317|         LL Crankarm|      CA-5965|       0|                0| Black|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL|   L | NULL|                NULL|          NULL|2008-04-30 00:00:00|       null|            null|3C9D10B7-A6B2-477...|2014-02-08 10:01:...|
|      318|         ML Crankarm|      CA-6738|       0|                0| Black|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL|   M | NULL|                NULL|          NULL|2008-04-30 00:00:00|       null|            null|EABB9A92-FA07-4EA...|2014-02-08 10:01:...|
|      319|         HL Crankarm|      CA-7457|       0|                0| Black|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       null|            null|7D3FD384-4F29-484...|2014-02-08 10:01:...|
|      320|     Chainring Bolts|      CB-2903|       0|                0|Silver|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       null|            null|7BE38E48-B7D6-448...|2014-02-08 10:01:...|
|      321|       Chainring Nut|      CN-6137|       0|                0|Silver|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       null|            null|3314B1D7-EF69-443...|2014-02-08 10:01:...|
|      322|           Chainring|      CR-7833|       0|                0| Black|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       null|            null|F0AC2C4D-1A1F-4E3...|2014-02-08 10:01:...|
|      323|          Crown Race|      CR-9981|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       null|            null|51A32CA6-65A1-4C3...|2014-02-08 10:01:...|
|      324|         Chain Stays|      CS-2812|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       null|            null|FE0678ED-AEF2-4C5...|2014-02-08 10:01:...|
|      325|             Decal 1|      DC-8732|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       null|            null|05CE123C-A402-478...|2014-02-08 10:01:...|
|      326|             Decal 2|      DC-9824|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       null|            null|A56851F9-1CD7-4E2...|2014-02-08 10:01:...|
|      327|           Down Tube|      DT-2377|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       null|            null|1DAD47DD-E259-42B...|2014-02-08 10:01:...|
|      328|   Mountain End Caps|      EC-M092|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       null|            null|6070B1EA-59B7-4F8...|2014-02-08 10:01:...|
|      329|       Road End Caps|      EC-R098|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       null|            null|88399D13-719E-454...|2014-02-08 10:01:...|
|      330|    Touring End Caps|      EC-T209|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       null|            null|6903CE24-D0CE-419...|2014-02-08 10:01:...|
|      331|            Fork End|      FE-3760|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       null|            null|C91D602E-DA52-43D...|2014-02-08 10:01:...|
+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
only showing top 20 rows

In [237]:
df_product.printSchema()

root
 |-- ProductId: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ProductNumber: string (nullable = true)
 |-- MakeFlag: integer (nullable = true)
 |-- FinishedGoodsFlag: integer (nullable = true)
 |-- Color: string (nullable = true)
 |-- SafetyStockLevel: integer (nullable = true)
 |-- ReorderPoint: integer (nullable = true)
 |-- StandardCost: float (nullable = true)
 |-- ListPrice: float (nullable = true)
 |-- size: string (nullable = true)
 |-- SizeUnitMeasureCode: string (nullable = true)
 |-- WeightUnitMeasureCode: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- DaysToManufacture: integer (nullable = true)
 |-- ProductLine: string (nullable = true)
 |-- Class: string (nullable = true)
 |-- Style: string (nullable = true)
 |-- ProductSubcategoryID: string (nullable = true)
 |-- ProductModelID: string (nullable = true)
 |-- SellStartDate: timestamp (nullable = true)
 |-- SellEndDate: timestamp (nullable = true)
 |-- DiscontinuedDate: timestamp (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)

In [238]:
#Quantidade de linhas e colunas

sparkShape(df_product)

(504, 25)

In [239]:
#Detalhes estatisticos gerais
df_product.describe().show()

+-------+------------------+-----------------+-------------+------------------+-------------------+------+-----------------+------------------+-----------------+-----------------+------------------+-------------------+---------------------+------------------+------------------+-----------+-----+-----+--------------------+-----------------+--------------------+
|summary|         ProductId|             Name|ProductNumber|          MakeFlag|  FinishedGoodsFlag| Color| SafetyStockLevel|      ReorderPoint|     StandardCost|        ListPrice|              size|SizeUnitMeasureCode|WeightUnitMeasureCode|            Weight| DaysToManufacture|ProductLine|Class|Style|ProductSubcategoryID|   ProductModelID|             rowguid|
+-------+------------------+-----------------+-------------+------------------+-------------------+------+-----------------+------------------+-----------------+-----------------+------------------+-------------------+---------------------+------------------+------------------+-----------+-----+-----+--------------------+-----------------+--------------------+
|  count|               504|              504|          504|               504|                504|   504|              504|               504|              504|              504|               504|                504|                  504|               504|               504|        504|  504|  504|                 504|              504|                 504|
|   mean| 673.0396825396825|             null|         null|0.4742063492063492| 0.5853174603174603|  null|535.1507936507936|401.36309523809524|258.6029614967013|438.6662506797011|48.983050847457626|               null|                 null| 74.06921951219512|1.1031746031746033|       null| null| null|  12.294915254237289|37.44406779661017|                null|
| stddev|229.37314180957824|             null|         null|0.4998303540029047|0.49315664605418624|  null|374.1129536209128| 280.5847152156847|461.6328058183503|773.6028478235182| 7.249196331844457|               null|                 null|182.16658823718498|1.4926159675916595|       null| null| null|   9.860134530977973|34.02544201748429|                null|
|    min|                 1|     AWC Logo Cap|      AR-5381|                 0|                  0| Black|                4|                 3|              0.0|              0.0|                38|                CM |                  G  |           1000.00|                 0|         M |   H |   M |                   1|                1|01A8C3FC-ED52-458...|
|    max|               999|Women's Tights, S|      WB-H098|                 1|                  1|Yellow|             1000|               750|        2171.2942|          3578.27|                XL|               NULL|                 NULL|              NULL|                 4|         T | NULL|   W |                NULL|             NULL|FE0678ED-AEF2-4C5...|
+-------+------------------+-----------------+-------------+------------------+-------------------+------+-----------------+------------------+-----------------+-----------------+------------------+-------------------+---------------------+------------------+------------------+-----------+-----+-----+--------------------+-----------------+--------------------+

In [240]:
#Quantidade de produtos unicos
df_product.select(countDistinct("productid")).show()

+-------------------------+
|count(DISTINCT productid)|
+-------------------------+
|                      504|
+-------------------------+

**Pedidos - Sales Order Header**

In [241]:
schema = StructType([
                     StructField("SalesOrderID", StringType(), True),
                     StructField("RevisionNumber", IntegerType(), True),
                     StructField("OrderDate", TimestampType(), True),
                     StructField("DueDate", TimestampType(), True),
                     StructField("ShipDate", TimestampType(), True),
                     StructField("Status", IntegerType(), True),
                     StructField("OnlineOrderFlag", IntegerType(), True),
                     StructField("SalesOrderNumber", StringType(), True),
                     StructField("PurchaseOrderNumber", StringType(), True),
                     StructField("AccountNumber", StringType(), True),
                     StructField("CustomerID", StringType(), True),
                     StructField("SalesPersonID", StringType(), True),
                     StructField("TerritoryID", StringType(), True),
                     StructField("BillToAdressID", StringType(), True),
                     StructField("ShipToAdressId", StringType(), True),
                     StructField("ShipMethodID", StringType(), True),
                     StructField("CreditcardID", StringType(), True),
                     StructField("CredicardApprovalCode", StringType(), True),
                     StructField("CurrencyRateId", StringType(), True),
                     StructField("SubTotal", StringType(), True),
                     StructField("TaxAmt", StringType(), True),
                     StructField("Freight", StringType(), True),
                     StructField("TotalDue", StringType(), True),
                     StructField("Comment", StringType(), True),
                     StructField("rowguid", StringType(), True),
                     StructField("ModifiedDate", TimestampType(), True),

])

df_order_header = spark.read.csv(f'{pasta_raiz}/Sales_SalesOrderHeader.csv', sep=';', header=True, schema=schema)

df_order_header = df_order_header.withColumn('SubTotal', regexp_replace('TotalDue', ',', '.').cast('float'))
df_order_header = df_order_header.withColumn('TaxAmt', regexp_replace('TotalDue', ',', '.').cast('float'))
df_order_header = df_order_header.withColumn('Freight', regexp_replace('TotalDue', ',', '.').cast('float'))
df_order_header = df_order_header.withColumn('TotalDue', regexp_replace('TotalDue', ',', '.').cast('float'))

df_order_header.show()

+------------+--------------+-------------------+-------------------+-------------------+------+---------------+----------------+-------------------+--------------+----------+-------------+-----------+--------------+--------------+------------+------------+---------------------+--------------+---------+---------+---------+---------+-------+--------------------+-------------------+
|SalesOrderID|RevisionNumber|          OrderDate|            DueDate|           ShipDate|Status|OnlineOrderFlag|SalesOrderNumber|PurchaseOrderNumber| AccountNumber|CustomerID|SalesPersonID|TerritoryID|BillToAdressID|ShipToAdressId|ShipMethodID|CreditcardID|CredicardApprovalCode|CurrencyRateId| SubTotal|   TaxAmt|  Freight| TotalDue|Comment|             rowguid|       ModifiedDate|
+------------+--------------+-------------------+-------------------+-------------------+------+---------------+----------------+-------------------+--------------+----------+-------------+-----------+--------------+--------------+------------+------------+---------------------+--------------+---------+---------+---------+---------+-------+--------------------+-------------------+
|       43659|             8|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|     5|              0|         SO43659|        PO522145787|10-4020-000676|     29825|          279|          5|           985|           985|           5|       16281|        105041Vi84182|          NULL|23153.234|23153.234|23153.234|23153.234|   NULL|79B65321-39CA-411...|2011-06-07 00:00:00|
|       43660|             8|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|     5|              0|         SO43660|      PO18850127500|10-4020-000117|     29672|          279|          5|           921|           921|           5|        5618|        115213Vi29411|          NULL|1457.3289|1457.3289|1457.3289|1457.3289|   NULL|738DC42D-D03B-48A...|2011-06-07 00:00:00|
|       43661|             8|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|     5|              0|         SO43661|      PO18473189620|10-4020-000442|     29734|          282|          6|           517|           517|           5|        1346|          85274Vi6854|             4|  36865.8|  36865.8|  36865.8|  36865.8|   NULL|D91B9131-18A4-4A1...|2011-06-07 00:00:00|
|       43662|             8|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|     5|              0|         SO43662|      PO18444174044|10-4020-000227|     29994|          282|          6|           482|           482|           5|       10456|        125295Vi53935|             4|32474.932|32474.932|32474.932|32474.932|   NULL|4A1ECFC0-CC3A-474...|2011-06-07 00:00:00|
|       43663|             8|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|     5|              0|         SO43663|      PO18009186470|10-4020-000510|     29565|          276|          4|          1073|          1073|           5|        4322|         45303Vi22691|          NULL| 472.3108| 472.3108| 472.3108| 472.3108|   NULL|9B1E7A40-6AE0-4AD...|2011-06-07 00:00:00|
|       43664|             8|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|     5|              0|         SO43664|      PO16617121983|10-4020-000397|     29898|          280|          1|           876|           876|           5|         806|          95555Vi4081|          NULL| 27510.41| 27510.41| 27510.41| 27510.41|   NULL|22A8A5DA-8C22-42A...|2011-06-07 00:00:00|
|       43665|             8|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|     5|              0|         SO43665|      PO16588191572|10-4020-000146|     29580|          283|          1|           849|           849|           5|       15232|         35568Vi78804|          NULL|16158.696|16158.696|16158.696|16158.696|   NULL|5602C304-853C-43D...|2011-06-07 00:00:00|
|       43666|             8|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|     5|              0|         SO43666|      PO16008173883|10-4020-000511|     30052|          276|          4|          1074|          1074|           5|       13349|        105623Vi69217|          NULL|5694.8564|5694.8564|5694.8564|5694.8564|   NULL|E2A90057-1366-448...|2011-06-07 00:00:00|
|       43667|             8|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|     5|              0|         SO43667|      PO15428132599|10-4020-000646|     29974|          277|          3|           629|           629|           5|       10370|         55680Vi53503|          NULL|6876.3647|6876.3647|6876.3647|6876.3647|   NULL|86D5237D-432D-4B2...|2011-06-07 00:00:00|
|       43668|             8|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|     5|              0|         SO43668|      PO14732180295|10-4020-000514|     29614|          282|          6|           529|           529|           5|        1566|          85817Vi8045|             4|40487.723|40487.723|40487.723|40487.723|   NULL|281CC355-D538-494...|2011-06-07 00:00:00|
|       43669|             8|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|     5|              0|         SO43669|      PO14123169936|10-4020-000578|     29747|          283|          1|           895|           895|           5|       15538|         25877Vi80261|          NULL| 807.2585| 807.2585| 807.2585| 807.2585|   NULL|FABFC5C2-E034-4E0...|2011-06-07 00:00:00|
|       43670|             8|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|     5|              0|         SO43670|      PO14384116310|10-4020-000504|     29566|          275|          3|           810|           810|           5|       18017|        105888Vi93490|          NULL| 6893.255| 6893.255| 6893.255| 6893.255|   NULL|573E52A7-573F-40B...|2011-06-07 00:00:00|
|       43671|             8|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|     5|              0|         SO43671|      PO13978119376|10-4020-000200|     29890|          283|          1|           855|           855|           5|       13693|         25904Vi70960|          NULL| 9153.605| 9153.605| 9153.605| 9153.605|   NULL|005FDA9D-62E1-400...|2011-06-07 00:00:00|
|       43672|             8|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|     5|              0|         SO43672|      PO13862153537|10-4020-000119|     30067|          282|          6|           464|           464|           5|        3980|         95915Vi20982|             4|  6895.41|  6895.41|  6895.41|  6895.41|   NULL|194202AA-8E15-493...|2011-06-07 00:00:00|
|       43673|             8|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|     5|              0|         SO43673|      PO13775141242|10-4020-000618|     29844|          275|          2|           821|           821|           5|        1417|          35931Vi7271|          NULL| 4216.026| 4216.026| 4216.026| 4216.026|   NULL|C5CD3AE9-41F5-4B7...|2011-06-07 00:00:00|
|       43674|             8|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|     5|              0|         SO43674|      PO12760141756|10-4020-000083|     29596|          282|          6|           458|           458|           5|       19204|         26081Vi99806|             4|2955.0542|2955.0542|2955.0542|2955.0542|   NULL|CE8BCA02-F705-4AA...|2011-06-07 00:00:00|
|       43675|             8|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|     5|              0|         SO43675|      PO12412186464|10-4020-000670|     29827|          277|          3|           631|           631|           5|       11886|        126121Vi61402|          NULL| 6434.085| 6434.085| 6434.085| 6434.085|   NULL|9F2CF0EE-F2B8-44D...|2011-06-07 00:00:00|
|       43676|             8|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|     5|              0|         SO43676|      PO11861165059|10-4020-000017|     29811|          275|          5|           755|           755|           5|       18153|         36168Vi94127|          NULL|15992.744|15992.744|15992.744|15992.744|   NULL|28C73732-D2FD-4F0...|2011-06-07 00:00:00|
|       43677|             8|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|     5|              0|         SO43677|      PO11049174786|10-4020-000679|     29824|          278|          6|           556|           556|           5|       14030|         16302Vi72763|             4| 8773.681| 8773.681| 8773.681| 8773.681|   NULL|95FAAF28-6495-40B...|2011-06-07 00:00:00|
|       43678|             8|2011-05-31 00:00:00|2011-06-12 00:00:00|2011-06-07 00:00:00|     5|              0|         SO43678|      PO10817150168|10-4020-000203|     29889|          281|          4|          1021|          1021|           5|        5093|         66363Vi26658|          NULL|11036.396|11036.396|11036.396|11036.396|   NULL|7F4B7542-638E-41C...|2011-06-07 00:00:00|
+------------+--------------+-------------------+-------------------+-------------------+------+---------------+----------------+-------------------+--------------+----------+-------------+-----------+--------------+--------------+------------+------------+---------------------+--------------+---------+---------+---------+---------+-------+--------------------+-------------------+
only showing top 20 rows

In [242]:
df_order_header.printSchema()

root
 |-- SalesOrderID: string (nullable = true)
 |-- RevisionNumber: integer (nullable = true)
 |-- OrderDate: timestamp (nullable = true)
 |-- DueDate: timestamp (nullable = true)
 |-- ShipDate: timestamp (nullable = true)
 |-- Status: integer (nullable = true)
 |-- OnlineOrderFlag: integer (nullable = true)
 |-- SalesOrderNumber: string (nullable = true)
 |-- PurchaseOrderNumber: string (nullable = true)
 |-- AccountNumber: string (nullable = true)
 |-- CustomerID: string (nullable = true)
 |-- SalesPersonID: string (nullable = true)
 |-- TerritoryID: string (nullable = true)
 |-- BillToAdressID: string (nullable = true)
 |-- ShipToAdressId: string (nullable = true)
 |-- ShipMethodID: string (nullable = true)
 |-- CreditcardID: string (nullable = true)
 |-- CredicardApprovalCode: string (nullable = true)
 |-- CurrencyRateId: string (nullable = true)
 |-- SubTotal: float (nullable = true)
 |-- TaxAmt: float (nullable = true)
 |-- Freight: float (nullable = true)
 |-- TotalDue: float (nullable = true)
 |-- Comment: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)

In [243]:
#Quantidade de linhas e colunas

sparkShape(df_order_header)

(31465, 26)

In [244]:
#Detalhes estatisticos gerais
df_order_header.describe().show()

+-------+-----------------+-------------------+------+-------------------+----------------+-------------------+--------------+-----------------+-----------------+-----------------+------------------+------------------+------------------+-----------------+---------------------+-----------------+------------------+------------------+------------------+------------------+-------+--------------------+
|summary|     SalesOrderID|     RevisionNumber|Status|    OnlineOrderFlag|SalesOrderNumber|PurchaseOrderNumber| AccountNumber|       CustomerID|    SalesPersonID|      TerritoryID|    BillToAdressID|    ShipToAdressId|      ShipMethodID|     CreditcardID|CredicardApprovalCode|   CurrencyRateId|          SubTotal|            TaxAmt|           Freight|          TotalDue|Comment|             rowguid|
+-------+-----------------+-------------------+------+-------------------+----------------+-------------------+--------------+-----------------+-----------------+-----------------+------------------+------------------+------------------+-----------------+---------------------+-----------------+------------------+------------------+------------------+------------------+-------+--------------------+
|  count|            31465|              31465| 31465|              31465|           31465|              31465|         31465|            31465|            31465|            31465|             31465|             31465|             31465|            31465|                31465|            31465|             31465|             31465|             31465|             31465|  31465|               31465|
|   mean|          59391.0|  8.000953440330527|   5.0| 0.8790402034006038|            null|               null|          null|20170.17568727157|280.6079873883342|6.090767519466073|18263.154425552202|18249.192563165423|1.4838391863975846|9684.100448341795|                 null|9191.499570692617| 3915.995107006462| 3915.995107006462| 3915.995107006462| 3915.995107006462|   null|                null|
| stddev|9083.307446446295|0.03086359596270263|   0.0|0.32608573040976807|            null|               null|          null|6261.728960399545| 4.84696464571845|2.958119226920885| 8210.069157791939| 8218.429262817577|1.3043429216390754|5566.299591312078|                 null|2945.170095382149|12515.462697332976|12515.462697332976|12515.462697332976|12515.462697332976|   null|                null|
|    min|            43659|                  8|     5|                  0|         SO43659|               NULL|10-4020-000001|            11000|              274|                1|              1000|              1000|                 1|                1|       1016006Vi91301|            10000|            1.5183|            1.5183|            1.5183|            1.5183|   NULL|0000DE87-AB3F-492...|
|    max|            75123|                  9|     5|                  1|         SO75123|       PO9976195169|10-4030-029483|            30118|             NULL|                9|               999|               999|                 5|             NULL|                 NULL|             NULL|         187487.83|         187487.83|         187487.83|         187487.83|   NULL|FFFE293D-6CC6-445...|
+-------+-----------------+-------------------+------+-------------------+----------------+-------------------+--------------+-----------------+-----------------+-----------------+------------------+------------------+------------------+-----------------+---------------------+-----------------+------------------+------------------+------------------+------------------+-------+--------------------+

In [245]:
#CustomerId com maior numero de pedidos.
df_order_header.select("CustomerId").groupby("customerid").count().sort('count', ascending=False).show()

+----------+-----+
|customerid|count|
+----------+-----+
|     11091|   28|
|     11176|   28|
|     11277|   27|
|     11711|   27|
|     11331|   27|
|     11300|   27|
|     11185|   27|
|     11287|   27|
|     11276|   27|
|     11330|   27|
|     11223|   27|
|     11200|   27|
|     11262|   27|
|     11566|   25|
|     11078|   17|
|     11019|   17|
|     11203|   17|
|     11142|   17|
|     11212|   17|
|     11215|   17|
+----------+-----+
only showing top 20 rows

In [246]:
#Maiores valores de pedidos
df_order_header.select("SalesOrderId", "TotalDue").orderBy("TotalDue", ascending=False).show()

+------------+----------+
|SalesOrderId|  TotalDue|
+------------+----------+
|       51131| 187487.83|
|       55282| 182018.62|
|       46616| 170512.67|
|       46981| 166537.08|
|       47395| 165028.75|
|       47369| 158056.55|
|       47355| 145741.86|
|       51822| 145454.36|
|       44518| 142312.22|
|       51858| 140042.12|
|       57150| 137721.31|
|       43875| 137343.28|
|       46607| 135606.67|
|       46660| 132727.84|
|       67305| 130907.05|
|       43884|130416.484|
|       53573| 130249.26|
|       47455| 126992.22|
|       51830|126852.164|
|       47441| 126830.96|
+------------+----------+
only showing top 20 rows

**Clientes - Sales.Customer**

In [247]:
schema = StructType([
                     StructField("CustomerID", StringType(), True),
                     StructField("PersonID", StringType(), True),
                     StructField("StoreID", StringType(), True),
                     StructField("TerritoryID", StringType(), True),
                     StructField("AccountNumber", StringType(), True),
                     StructField("rowguid", StringType(), True),
                     StructField("ModifiedDate", TimestampType(), True),

])

df_customers = spark.read.csv(f'{pasta_raiz}/Sales_Customer.csv', sep=';', header=True, schema=schema)

df_customers.show()

+----------+--------+-------+-----------+-------------+--------------------+--------------------+
|CustomerID|PersonID|StoreID|TerritoryID|AccountNumber|             rowguid|        ModifiedDate|
+----------+--------+-------+-----------+-------------+--------------------+--------------------+
|         1|    NULL|    934|          1|   AW00000001|3F5AE95E-B87D-4AE...|2014-09-12 11:15:...|
|         2|    NULL|   1028|          1|   AW00000002|E552F657-A9AF-4A7...|2014-09-12 11:15:...|
|         3|    NULL|    642|          4|   AW00000003|130774B1-DB21-4EF...|2014-09-12 11:15:...|
|         4|    NULL|    932|          4|   AW00000004|FF862851-1DAA-404...|2014-09-12 11:15:...|
|         5|    NULL|   1026|          4|   AW00000005|83905BDC-6F5E-4F7...|2014-09-12 11:15:...|
|         6|    NULL|    644|          4|   AW00000006|1A92DF88-BFA2-467...|2014-09-12 11:15:...|
|         7|    NULL|    930|          1|   AW00000007|03E9273E-B193-448...|2014-09-12 11:15:...|
|         8|    NULL|   1024|          5|   AW00000008|801368B1-4323-4BF...|2014-09-12 11:15:...|
|         9|    NULL|    620|          5|   AW00000009|B900BB7F-23C3-481...|2014-09-12 11:15:...|
|        10|    NULL|    928|          6|   AW00000010|CDB6698D-2FF1-4FB...|2014-09-12 11:15:...|
|        11|    NULL|   1022|          6|   AW00000011|750F3495-59C4-48A...|2014-09-12 11:15:...|
|        12|    NULL|    622|          6|   AW00000012|947BCAF1-1F32-44F...|2014-09-12 11:15:...|
|        13|    NULL|    434|          7|   AW00000013|B0FA5854-2511-439...|2014-09-12 11:15:...|
|        14|    NULL|   1020|          8|   AW00000014|2F96BEDC-723D-468...|2014-09-12 11:15:...|
|        15|    NULL|    624|          9|   AW00000015|0340737B-D4FA-479...|2014-09-12 11:15:...|
|        16|    NULL|    432|         10|   AW00000016|C9381589-D31C-4EF...|2014-09-12 11:15:...|
|        17|    NULL|   1018|          5|   AW00000017|34DB417F-1E0B-440...|2014-09-12 11:15:...|
|        18|    NULL|   1332|          3|   AW00000018|C04D6B4D-94C6-4C5...|2014-09-12 11:15:...|
|        19|    NULL|    430|          1|   AW00000019|69AE5D43-31BE-4B7...|2014-09-12 11:15:...|
|        20|    NULL|   1016|          1|   AW00000020|E010C10A-F1C3-4BB...|2014-09-12 11:15:...|
+----------+--------+-------+-----------+-------------+--------------------+--------------------+
only showing top 20 rows

In [248]:
df_customers.printSchema()

root
 |-- CustomerID: string (nullable = true)
 |-- PersonID: string (nullable = true)
 |-- StoreID: string (nullable = true)
 |-- TerritoryID: string (nullable = true)
 |-- AccountNumber: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)

In [249]:
#Quantidade de linhas e colunas

sparkShape(df_customers)

(19820, 7)

In [250]:
#Detalhes estatisticos gerais
df_customers.describe().show()

+-------+------------------+-----------------+------------------+------------------+-------------+--------------------+
|summary|        CustomerID|         PersonID|           StoreID|       TerritoryID|AccountNumber|             rowguid|
+-------+------------------+-----------------+------------------+------------------+-------------+--------------------+
|  count|             19820|            19820|             19820|             19820|        19820|               19820|
|   mean|  19844.2770938446|11184.19022961452|1037.6549401197606|  5.82497477295661|         null|                null|
| stddev|6581.7859142707575| 5578.70597685964| 475.9147548439723|3.0426757383909195|         null|                null|
|    min|                 1|            10000|              1000|                 1|   AW00000001|0006E071-D04E-426...|
|    max|                99|             NULL|              NULL|                 9|   AW00030118|FFFFF252-5BFC-482...|
+-------+------------------+-----------------+------------------+------------------+-------------+--------------------+

In [251]:
schema = StructType([
                     StructField("BusinessEntityID", StringType(), True),
                     StructField("PersonType", StringType(), True),
                     StructField("NameStyle", StringType(), True),
                     StructField("Title", StringType(), True),
                     StructField("FirstName", StringType(), True),
                     StructField("MiddleName", StringType(), True),
                     StructField("LastName", StringType(), True),
                     StructField("Suffix", StringType(), True),
                     StructField("EmailPromotion", StringType(), True),
                     StructField("AdditionalContactInfo", StringType(), True),
                     StructField("Demographics", StringType(), True),
                     StructField("rowguid", StringType(), True),
                     StructField("ModifiedDate", TimestampType(), True),

])

df_person = spark.read.csv(f'{pasta_raiz}/Person_Person.csv', sep=';', header=True, schema=schema)

df_person.show()

+----------------+----------+---------+-----+---------+----------+----------+------+--------------+---------------------+--------------------+--------------------+-------------------+
|BusinessEntityID|PersonType|NameStyle|Title|FirstName|MiddleName|  LastName|Suffix|EmailPromotion|AdditionalContactInfo|        Demographics|             rowguid|       ModifiedDate|
+----------------+----------+---------+-----+---------+----------+----------+------+--------------+---------------------+--------------------+--------------------+-------------------+
|               1|        EM|        0| NULL|      Ken|         J|   Sánchez|  NULL|             0|                 NULL|"<IndividualSurve...|92C4279F-1207-48A...|2009-01-07 00:00:00|
|               2|        EM|        0| NULL|    Terri|       Lee|     Duffy|  NULL|             1|                 NULL|"<IndividualSurve...|D8763459-8AA8-47C...|2008-01-24 00:00:00|
|               3|        EM|        0| NULL|  Roberto|      NULL|Tamburello|  NULL|             0|                 NULL|"<IndividualSurve...|E1A2555E-0828-434...|2007-11-04 00:00:00|
|               4|        EM|        0| NULL|      Rob|      NULL|   Walters|  NULL|             0|                 NULL|"<IndividualSurve...|F2D7CE06-38B3-435...|2007-11-28 00:00:00|
|               5|        EM|        0|  Ms.|     Gail|         A|  Erickson|  NULL|             0|                 NULL|"<IndividualSurve...|F3A3F6B4-AE3B-430...|2007-12-30 00:00:00|
|               6|        EM|        0|  Mr.|   Jossef|         H|  Goldberg|  NULL|             0|                 NULL|"<IndividualSurve...|0DEA28FD-EFFE-482...|2013-12-16 00:00:00|
|               7|        EM|        0| NULL|    Dylan|         A|    Miller|  NULL|             2|                 NULL|"<IndividualSurve...|C45E8AB8-01BE-4B7...|2009-02-01 00:00:00|
|               8|        EM|        0| NULL|    Diane|         L|  Margheim|  NULL|             0|                 NULL|"<IndividualSurve...|A948E590-4A56-45A...|2008-12-22 00:00:00|
|               9|        EM|        0| NULL|     Gigi|         N|   Matthew|  NULL|             0|                 NULL|"<IndividualSurve...|5FC28C0E-6D36-425...|2009-01-09 00:00:00|
|              10|        EM|        0| NULL|  Michael|      NULL|    Raheem|  NULL|             2|                 NULL|"<IndividualSurve...|CA2C740E-75B2-420...|2009-04-26 00:00:00|
|              11|        EM|        0| NULL|   Ovidiu|         V|   Cracium|  NULL|             0|                 NULL|"<IndividualSurve...|D2CC2577-EF6B-440...|2010-11-28 00:00:00|
|              12|        EM|        0| NULL|  Thierry|         B|    D'Hers|  NULL|             2|                 NULL|"<IndividualSurve...|FA263C7F-600D-4E8...|2007-12-04 00:00:00|
|              13|        EM|        0|  Ms.|   Janice|         M|    Galvin|  NULL|             2|                 NULL|"<IndividualSurve...|34EB99E0-7042-4DC...|2010-12-16 00:00:00|
|              14|        EM|        0| NULL|  Michael|         I|  Sullivan|  NULL|             2|                 NULL|"<IndividualSurve...|9A7501DE-5CAF-470...|2010-12-23 00:00:00|
|              15|        EM|        0| NULL|   Sharon|         B| Salavaria|  NULL|             2|                 NULL|"<IndividualSurve...|BEBA63CB-13F1-4B7...|2011-01-11 00:00:00|
|              16|        EM|        0| NULL|    David|         M|   Bradley|  NULL|             1|                 NULL|"<IndividualSurve...|2CC8BA72-5DBB-497...|2007-12-13 00:00:00|
|              17|        EM|        0| NULL|    Kevin|         F|     Brown|  NULL|             2|                 NULL|"<IndividualSurve...|9EE4713E-B3D8-440...|2007-01-19 00:00:00|
|              18|        EM|        0| NULL|     John|         L|      Wood|  NULL|             2|                 NULL|"<IndividualSurve...|FE21BDA7-9327-4D1...|2011-01-31 00:00:00|
|              19|        EM|        0| NULL|     Mary|         A|   Dempsey|  NULL|             1|                 NULL|"<IndividualSurve...|36F04305-6769-4E6...|2011-02-07 00:00:00|
|              20|        EM|        0| NULL|   Wanida|         M|  Benshoof|  NULL|             2|                 NULL|"<IndividualSurve...|1E7E56F4-A583-4E3...|2010-12-31 00:00:00|
+----------------+----------+---------+-----+---------+----------+----------+------+--------------+---------------------+--------------------+--------------------+-------------------+
only showing top 20 rows

In [252]:
df_person.printSchema()

root
 |-- BusinessEntityID: string (nullable = true)
 |-- PersonType: string (nullable = true)
 |-- NameStyle: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- MiddleName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- Suffix: string (nullable = true)
 |-- EmailPromotion: string (nullable = true)
 |-- AdditionalContactInfo: string (nullable = true)
 |-- Demographics: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)

In [253]:
#Quantidade de linhas e colunas

sparkShape(df_person)

(19972, 13)

In [254]:
#Detalhes estatisticos gerais
df_person.describe().show()

+-------+------------------+----------+---------+-----+---------+----------+--------+------+------------------+---------------------+--------------------+--------------------+
|summary|  BusinessEntityID|PersonType|NameStyle|Title|FirstName|MiddleName|LastName|Suffix|    EmailPromotion|AdditionalContactInfo|        Demographics|             rowguid|
+-------+------------------+----------+---------+-----+---------+----------+--------+------+------------------+---------------------+--------------------+--------------------+
|  count|             19972|     19972|    19972|19972|    19972|     19972|   19972| 19972|             19972|                19972|               19972|               19972|
|   mean|10763.079411175646|      null|      0.0| null|     null|      null|    null|  null|0.6300821149609453|                 null|                null|                null|
| stddev|5814.1332719480615|      null|      0.0| null|     null|      null|    null|  null|0.7814331436634205|                 null|                null|                null|
|    min|                 1|        EM|        0|  Mr.|       A.|         A|   Abbas|    II|                 0| "<AdditionalConta...|"<IndividualSurve...|000191EF-7424-4A5...|
|    max|              9999|        VC|        0| Sra.|      Zoe|         l|Zwilling|   Sr.|                 2|                 NULL|"<IndividualSurve...|FFFF4F5E-57D3-472...|
+-------+------------------+----------+---------+-----+---------+----------+--------+------+------------------+---------------------+--------------------+--------------------+

**Detalhes Pedidos = SalesOrderDetails**

In [255]:
schema = StructType([
                     StructField("SalesOrderID", StringType(), True),
                     StructField("SalesOrderDetailID", StringType(), True),
                     StructField("CarrierTrackingNumber", StringType(), True),
                     StructField("OrderQty", StringType(), True),
                     StructField("ProductID", StringType(), True),
                     StructField("SpecialOfferID", StringType(), True),
                     StructField("UnitPrice", StringType(), True),
                     StructField("UnitPriceDiscount", StringType(), True),
                     StructField("LineTotal", FloatType(), True),
                     StructField("rowguid", StringType(), True),
                     StructField("ModifiedDate", TimestampType(), True),

])

df_details = spark.read.csv(f'{pasta_raiz}/Sales_SalesOrderDetail.csv', sep=';', header=True, schema=schema)

df_details = df_details.withColumn('UnitPrice', regexp_replace('UnitPrice', ',', '.').cast('float'))
df_details = df_details.withColumn('UnitPriceDiscount', regexp_replace('UnitPriceDiscount', ',', '.').cast('float'))

df_details.show()

+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+---------+--------------------+-------------------+
|SalesOrderID|SalesOrderDetailID|CarrierTrackingNumber|OrderQty|ProductID|SpecialOfferID|UnitPrice|UnitPriceDiscount|LineTotal|             rowguid|       ModifiedDate|
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+---------+--------------------+-------------------+
|       43659|                 1|         4911-403C-98|       1|      776|             1| 2024.994|              0.0| 2024.994|B207C96D-D9E6-402...|2011-05-31 00:00:00|
|       43659|                 2|         4911-403C-98|       3|      777|             1| 2024.994|              0.0| 6074.982|7ABB600D-1E77-41B...|2011-05-31 00:00:00|
|       43659|                 3|         4911-403C-98|       1|      778|             1| 2024.994|              0.0| 2024.994|475CF8C6-49F6-486...|2011-05-31 00:00:00|
|       43659|                 4|         4911-403C-98|       1|      771|             1| 2039.994|              0.0| 2039.994|04C4DE91-5815-45D...|2011-05-31 00:00:00|
|       43659|                 5|         4911-403C-98|       1|      772|             1| 2039.994|              0.0| 2039.994|5A74C7D2-E641-438...|2011-05-31 00:00:00|
|       43659|                 6|         4911-403C-98|       2|      773|             1| 2039.994|              0.0| 4079.988|CE472532-A4C0-45B...|2011-05-31 00:00:00|
|       43659|                 7|         4911-403C-98|       1|      774|             1| 2039.994|              0.0| 2039.994|80667840-F962-4EE...|2011-05-31 00:00:00|
|       43659|                 8|         4911-403C-98|       3|      714|             1|  28.8404|              0.0|  86.5212|E9D54907-E7B7-496...|2011-05-31 00:00:00|
|       43659|                 9|         4911-403C-98|       1|      716|             1|  28.8404|              0.0|  28.8404|AA542630-BDCD-4CE...|2011-05-31 00:00:00|
|       43659|                10|         4911-403C-98|       6|      709|             1|      5.7|              0.0|     34.2|AC769034-3C2F-495...|2011-05-31 00:00:00|
|       43659|                11|         4911-403C-98|       2|      712|             1|   5.1865|              0.0|   10.373|06A66921-6B9F-419...|2011-05-31 00:00:00|
|       43659|                12|         4911-403C-98|       4|      711|             1|  20.1865|              0.0|   80.746|0E371EE3-253E-4BB...|2011-05-31 00:00:00|
|       43660|                13|         6431-4D57-83|       1|      762|             1| 419.4589|              0.0| 419.4589|419A1302-AC7A-404...|2011-05-31 00:00:00|
|       43660|                14|         6431-4D57-83|       1|      758|             1|  874.794|              0.0|  874.794|5D0B2B03-1D4C-4C3...|2011-05-31 00:00:00|
|       43661|                15|         4E0A-4F89-AE|       1|      745|             1|   809.76|              0.0|   809.76|EDE1759E-6733-4C7...|2011-05-31 00:00:00|
|       43661|                16|         4E0A-4F89-AE|       1|      743|             1| 714.7043|              0.0| 714.7043|FE10BF09-D477-485...|2011-05-31 00:00:00|
|       43661|                17|         4E0A-4F89-AE|       2|      747|             1| 714.7043|              0.0|1429.4086|B136852E-24C9-400...|2011-05-31 00:00:00|
|       43661|                18|         4E0A-4F89-AE|       4|      712|             1|   5.1865|              0.0|   20.746|F0F410B6-BC93-4D7...|2011-05-31 00:00:00|
|       43661|                19|         4E0A-4F89-AE|       4|      715|             1|  28.8404|              0.0| 115.3616|AE4CDA7D-9B6E-4AB...|2011-05-31 00:00:00|
|       43661|                20|         4E0A-4F89-AE|       2|      742|             1| 722.5949|              0.0|1445.1898|054A9D3B-A178-465...|2011-05-31 00:00:00|
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+---------+--------------------+-------------------+
only showing top 20 rows

In [256]:
df_details.printSchema()

root
 |-- SalesOrderID: string (nullable = true)
 |-- SalesOrderDetailID: string (nullable = true)
 |-- CarrierTrackingNumber: string (nullable = true)
 |-- OrderQty: string (nullable = true)
 |-- ProductID: string (nullable = true)
 |-- SpecialOfferID: string (nullable = true)
 |-- UnitPrice: float (nullable = true)
 |-- UnitPriceDiscount: float (nullable = true)
 |-- LineTotal: float (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)

In [257]:
#Quantidade de linhas e colunas

sparkShape(df_details)

(121317, 11)

In [258]:
#Detalhes estatisticos gerais
df_details.describe().show()

+-------+------------------+------------------+---------------------+------------------+-----------------+------------------+------------------+-------------------+------------------+--------------------+
|summary|      SalesOrderID|SalesOrderDetailID|CarrierTrackingNumber|          OrderQty|        ProductID|    SpecialOfferID|         UnitPrice|  UnitPriceDiscount|         LineTotal|             rowguid|
+-------+------------------+------------------+---------------------+------------------+-----------------+------------------+------------------+-------------------+------------------+--------------------+
|  count|            121317|            121317|               121317|            121317|           121317|            121317|            121317|             121317|            121317|              121317|
|   mean|57827.363782487206|           60659.0|                 null|2.2660797744751355|841.6808361565156|1.1625411113034447|465.09349706117285|0.00282606728862525| 905.4492069399555|                null|
| stddev| 9009.147901593558|35021.345640908774|                 null|  2.49132317472756|86.45212373776558|1.2186043802028799| 751.8850853222633|0.02481053280876975|1693.4173866249741|                null|
|    min|             43659|                 1|         000A-434D-BC|                 1|              707|                 1|            1.3282|                0.0|             1.374|0000C99C-2B71-488...|
|    max|             75123|             99999|                 NULL|                 9|              999|                 9|           3578.27|                0.4|          27893.62|FFFF365B-8BAC-4A2...|
+-------+------------------+------------------+---------------------+------------------+-----------------+------------------+------------------+-------------------+------------------+--------------------+

## **Análise de dados**

In [259]:
# DataFrames

df_special_offer
df_product
df_order_header
df_customers
df_person
df_details

# SQL

df_special_offer.createOrReplaceTempView('SPECIAL')
df_product.createOrReplaceTempView('PRODUCT')
df_order_header.createOrReplaceTempView('ORDER')
df_customers.createOrReplaceTempView('CUSTOMERS')
df_person.createOrReplaceTempView('PERSON')
df_details.createOrReplaceTempView('DETAILS')

Escreva uma query que retorna a quantidade de linhas na tabela Sales.SalesOrderDetail pelo campo SalesOrderID, desde que tenham pelo menos três linhas de detalhes.

In [260]:
df_details.show()

+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+---------+--------------------+-------------------+
|SalesOrderID|SalesOrderDetailID|CarrierTrackingNumber|OrderQty|ProductID|SpecialOfferID|UnitPrice|UnitPriceDiscount|LineTotal|             rowguid|       ModifiedDate|
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+---------+--------------------+-------------------+
|       43659|                 1|         4911-403C-98|       1|      776|             1| 2024.994|              0.0| 2024.994|B207C96D-D9E6-402...|2011-05-31 00:00:00|
|       43659|                 2|         4911-403C-98|       3|      777|             1| 2024.994|              0.0| 6074.982|7ABB600D-1E77-41B...|2011-05-31 00:00:00|
|       43659|                 3|         4911-403C-98|       1|      778|             1| 2024.994|              0.0| 2024.994|475CF8C6-49F6-486...|2011-05-31 00:00:00|
|       43659|                 4|         4911-403C-98|       1|      771|             1| 2039.994|              0.0| 2039.994|04C4DE91-5815-45D...|2011-05-31 00:00:00|
|       43659|                 5|         4911-403C-98|       1|      772|             1| 2039.994|              0.0| 2039.994|5A74C7D2-E641-438...|2011-05-31 00:00:00|
|       43659|                 6|         4911-403C-98|       2|      773|             1| 2039.994|              0.0| 4079.988|CE472532-A4C0-45B...|2011-05-31 00:00:00|
|       43659|                 7|         4911-403C-98|       1|      774|             1| 2039.994|              0.0| 2039.994|80667840-F962-4EE...|2011-05-31 00:00:00|
|       43659|                 8|         4911-403C-98|       3|      714|             1|  28.8404|              0.0|  86.5212|E9D54907-E7B7-496...|2011-05-31 00:00:00|
|       43659|                 9|         4911-403C-98|       1|      716|             1|  28.8404|              0.0|  28.8404|AA542630-BDCD-4CE...|2011-05-31 00:00:00|
|       43659|                10|         4911-403C-98|       6|      709|             1|      5.7|              0.0|     34.2|AC769034-3C2F-495...|2011-05-31 00:00:00|
|       43659|                11|         4911-403C-98|       2|      712|             1|   5.1865|              0.0|   10.373|06A66921-6B9F-419...|2011-05-31 00:00:00|
|       43659|                12|         4911-403C-98|       4|      711|             1|  20.1865|              0.0|   80.746|0E371EE3-253E-4BB...|2011-05-31 00:00:00|
|       43660|                13|         6431-4D57-83|       1|      762|             1| 419.4589|              0.0| 419.4589|419A1302-AC7A-404...|2011-05-31 00:00:00|
|       43660|                14|         6431-4D57-83|       1|      758|             1|  874.794|              0.0|  874.794|5D0B2B03-1D4C-4C3...|2011-05-31 00:00:00|
|       43661|                15|         4E0A-4F89-AE|       1|      745|             1|   809.76|              0.0|   809.76|EDE1759E-6733-4C7...|2011-05-31 00:00:00|
|       43661|                16|         4E0A-4F89-AE|       1|      743|             1| 714.7043|              0.0| 714.7043|FE10BF09-D477-485...|2011-05-31 00:00:00|
|       43661|                17|         4E0A-4F89-AE|       2|      747|             1| 714.7043|              0.0|1429.4086|B136852E-24C9-400...|2011-05-31 00:00:00|
|       43661|                18|         4E0A-4F89-AE|       4|      712|             1|   5.1865|              0.0|   20.746|F0F410B6-BC93-4D7...|2011-05-31 00:00:00|
|       43661|                19|         4E0A-4F89-AE|       4|      715|             1|  28.8404|              0.0| 115.3616|AE4CDA7D-9B6E-4AB...|2011-05-31 00:00:00|
|       43661|                20|         4E0A-4F89-AE|       2|      742|             1| 722.5949|              0.0|1445.1898|054A9D3B-A178-465...|2011-05-31 00:00:00|
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+---------+--------------------+-------------------+
only showing top 20 rows

In [261]:
spark.sql('''SELECT COUNT(*) AS TOTAL 
FROM (SELECT SalesOrderID, count(*) AS D1 
        FROM DETAILS 
        GROUP BY SalesOrderID) 
WHERE D1 >= 3''').show()

+-----+
|TOTAL|
+-----+
|12757|
+-----+

 Escreva uma query que ligue as tabelas Sales.SalesOrderDetail, Sales.SpecialOfferProduct
e Production.Product e retorne os 3 produtos (Name) mais vendidos (pela soma de
OrderQty), agrupados pelo número de dias para manufatura (DaysToManufacture).

In [262]:
spark.sql('''SELECT PRODUCT.NAME, SUM(DETAILS.ORDERQTY) AS SOMA, PRODUCT.DAYSTOMANUFACTURE 
FROM PRODUCT 
LEFT JOIN SPECIAL ON PRODUCT.PRODUCTID = SPECIAL.PRODUCTID 
LEFT JOIN DETAILS ON SPECIAL.SPECIALOFFERID = DETAILS.SPECIALOFFERID
GROUP BY PRODUCT.NAME, PRODUCT.DAYSTOMANUFACTURE 
ORDER BY SOMA DESC
LIMIT 3''').show()

+--------------------+--------+-----------------+
|                NAME|    SOMA|DAYSTOMANUFACTURE|
+--------------------+--------+-----------------+
|Full-Finger Glove...|270244.0|                0|
|Women's Mountain ...|270244.0|                0|
|     Classic Vest, S|270159.0|                0|
+--------------------+--------+-----------------+

Escreva uma query ligando as tabelas Person.Person, Sales.Customer e
Sales.SalesOrderHeader de forma a obter uma lista de nomes de clientes e uma contagem
de pedidos efetuados.

In [263]:
spark.sql('''SELECT PERSON.FIRSTNAME, COUNT(*) AS PEDIDOS
FROM PERSON 
INNER JOIN ORDER ON PERSON.BUSINESSENTITYID = ORDER.CUSTOMERID 
GROUP BY PERSON.FIRSTNAME
''').show()

+---------+-------+
|FIRSTNAME|PEDIDOS|
+---------+-------+
| Samantha|     77|
|   Damien|     34|
|    Ruben|    163|
|   Wilson|      2|
|    Grace|    177|
|    Lucas|     75|
|   Gerald|     33|
|    Edwin|     92|
|    Robyn|     39|
|   Willie|     63|
|     Mary|      9|
| Isabella|    118|
|    James|     71|
|    Jaime|      6|
|   Rakesh|      2|
|    Wyatt|     42|
|   Trevor|     35|
|  Antonio|     43|
|  Natalie|    114|
|      Roy|     91|
+---------+-------+
only showing top 20 rows

Escreva uma query usando as tabelas Sales.SalesOrderHeader, Sales.SalesOrderDetail e
Production.Product, de forma a obter a soma total de produtos (OrderQty) por ProductID e
OrderDate.

In [264]:
spark.sql('''
SELECT PRODUCT.PRODUCTID, ORDER.ORDERDATE, SUM(DETAILS.ORDERQTY) AS SOMA
FROM PRODUCT
JOIN SPECIAL
ON PRODUCT.PRODUCTID = SPECIAL.PRODUCTID
JOIN DETAILS
ON SPECIAL.SPECIALOFFERID = DETAILS.SPECIALOFFERID
JOIN ORDER
ON DETAILS.SALESORDERID = ORDER.SALESORDERID
GROUP BY PRODUCT.PRODUCTID, ORDER.ORDERDATE
''').show()

+---------+-------------------+----+
|PRODUCTID|          ORDERDATE|SOMA|
+---------+-------------------+----+
|      715|2014-06-09 00:00:00|69.0|
|      717|2014-06-11 00:00:00|61.0|
|      730|2014-06-28 00:00:00|68.0|
|      736|2014-06-23 00:00:00|82.0|
|      739|2014-06-14 00:00:00|78.0|
|      741|2014-06-04 00:00:00|62.0|
|      744|2014-06-19 00:00:00|79.0|
|      749|2014-06-10 00:00:00|63.0|
|      754|2014-06-25 00:00:00|75.0|
|      760|2014-06-27 00:00:00|82.0|
|      761|2014-06-03 00:00:00|53.0|
|      764|2014-06-25 00:00:00|75.0|
|      774|2014-06-29 00:00:00|61.0|
|      786|2014-06-14 00:00:00|78.0|
|      789|2014-06-22 00:00:00|69.0|
|      789|2014-06-09 00:00:00|69.0|
|      789|2014-05-31 00:00:00|79.0|
|      792|2014-06-23 00:00:00|82.0|
|      793|2014-06-11 00:00:00|61.0|
|      794|2014-06-27 00:00:00|82.0|
+---------+-------------------+----+
only showing top 20 rows

Escreva uma query mostrando os campos SalesOrderID, OrderDate e TotalDue da tabela
Sales.SalesOrderHeader. Obtenha apenas as linhas onde a ordem tenha sido feita durante
o mês de setembro/2011 e o total devido esteja acima de 1.000. Ordene pelo total devido
decrescente.

In [265]:
spark.sql('''
SELECT SALESORDERID, ORDERDATE, TOTALDUE 
FROM ORDER
WHERE ORDERDATE >='2011-09-01' AND ORDERDATE <'2011-10-01'  AND TOTALDUE > 1000
ORDER BY TOTALDUE DESC
''').show()

+------------+-------------------+---------+
|SALESORDERID|          ORDERDATE| TOTALDUE|
+------------+-------------------+---------+
|       44348|2011-09-07 00:00:00|3953.9883|
|       44372|2011-09-09 00:00:00|3953.9883|
|       44349|2011-09-07 00:00:00|3953.9883|
|       44350|2011-09-07 00:00:00|3953.9883|
|       44371|2011-09-09 00:00:00|3953.9883|
|       44351|2011-09-07 00:00:00|3953.9883|
|       44328|2011-09-02 00:00:00|3953.9883|
|       44352|2011-09-07 00:00:00|3953.9883|
|       44330|2011-09-02 00:00:00|3953.9883|
|       44332|2011-09-03 00:00:00|3953.9883|
|       44370|2011-09-09 00:00:00|3953.9883|
|       44357|2011-09-07 00:00:00|3953.9883|
|       44338|2011-09-04 00:00:00|3953.9883|
|       44358|2011-09-07 00:00:00|3953.9883|
|       44340|2011-09-04 00:00:00|3953.9883|
|       44359|2011-09-08 00:00:00|3953.9883|
|       44344|2011-09-06 00:00:00|3953.9883|
|       44360|2011-09-08 00:00:00|3953.9883|
|       44347|2011-09-06 00:00:00|3953.9883|
|       44361|2011-09-08 00:00:00|3953.9883|
+------------+-------------------+---------+
only showing top 20 rows